<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        'concat_space' => ['spacing' => 'one'],
        'no_empty_statement' => true,
        'no_unused_imports' => true,
        'no_whitespace_in_blank_line' => true,
        'phpdoc_scalar' => true,
        'phpdoc_inline_tag' => true,
        'trailing_comma_in_multiline_array' => true,
    ])
    ->setUsingCache(false)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude([
                'vendor'
            ])
            ->in(__DIR__)
    )
;
