language: php

php:
  - 8.0
  - 8.1
  - 8.2
  - 8.3
  - nightly

matrix:
  allow_failures:
    - php: nightly

install:
  - composer install --no-interaction

script:
  - composer test

after_success:
  - bash <(curl -s https://codecov.io/bash)